<section class="c-poster" data-scroll data-scroll-css-progress>
    <div class="c-poster_inner">
        {% if poster.title %}
            <h2 class="u-screen-reader-text">{{ poster.title }}</h2>
        {% endif %}

        {% if poster.description %}
            <div class="c-wysiwyg || c-poster_description">{{ poster.description }}</div>
        {% endif %}

        {% if poster.columns %}
            <div class="c-poster_columns-text">
                <div class="c-columns-text">
                    {% for column in poster.columns %}
                        <div class="c-columns-text_item">
                            {% if column.content %}
                                <div class="c-wysiwyg || c-columns-text_item_content">{{ column.content }}</div>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        {% if poster.foot %}
            <div class="c-poster_foot">
                <span>{{ poster.foot }}</span>
            </div>
        {% endif %}
    </div>

    {% if poster.img %}
        {% comment %} Styles for a custom animation based on the focus point {% endcomment %}
        {% capture transform_origin_focus_point %}style="--focus-point-x: {{ poster.img.focus_point.x }}; --focus-point-y: {{ poster.img.focus_point.y }};"{% endcapture %}
        {% render 'snippets/image',
            classes: 'c-poster_image',
            modifiers: '-cover',
            src: poster.img.src,
            width: poster.img.width,
            height: poster.img.height,
            attr: transform_origin_focus_point
        %}
    {% endif %}
</section>
