<section class="c-splash-featured" data-scroll data-scroll-repeat>
    <div class="c-splash-featured_header">
        <h2 class="c-heading || c-splash-featured_title">{{ splash_featured.title }}</h2>

        <div class="c-splash-featured_description">
            {% for item in splash_featured.description %}
                <div class="c-splash-featured_description_item">
                    <span>
                        {{ item.content }}
                    </span>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="c-splash-featured_marquee">
        <div class="c-splash-featured_marquee_inner">
            <div class="c-splash-featured_marquee_list">
                {% for item in splash_featured.marquee %}
                    <div class="c-splash-featured_marquee_item">
                        <span>
                            {{ item.content }}
                        </span>
                    </div>
                {% endfor %}

                {% for item in splash_featured.marquee %}
                    <div class="c-splash-featured_marquee_item">
                        <span>
                            {{ item.content }}
                        </span>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <canvas
        class="c-splash-featured_canvas"
        data-module-splash-canvas
        data-splash-canvas-src="{{splash_featured.model}}">
    </canvas>

    {% include "@snippets/columns-text.twig" with {
        classes: 'c-splash-featured_columns-text',
        columns: splash_featured.columns
    } only %}
</section>
