<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ site.title }}</title>
        <meta name="description" content="From analyzing the design to building a complete one-page website, you'll discover and learn how to use Locomotive’s approach and unique set of tools such as smooth-scrolling, micro-interactions and animations with a clean coding structure">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta property="og:image" content="{{ site.og_image }}">
        <link rel="icon" href="data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20100%20100%22%3E%3Ctext%20y=%22.9em%22%20font-size=%2290%22%3E🇭🇷%3C/text%3E%3C/svg%3E">

        <link id="main-css" rel="stylesheet" href="{{ '/assets/styles/main.css' | version }}" media="print" onload="this.media='all'; this.onload=null; this.isLoaded=true">

        <style>
            {{ critical_css() }}
        </style>
    </head>
    <body>
        <div class="c-preloader"></div>

        <div data-module-scroll="main">
            <header class="c-header">
                <button class="c-header_menu-toggler">Menu</button>
                <a href="https://locomotive.ca/" rel="noopener noreferrer" target="_blank" class="c-header_main-cta">
                    Shop <span aria-hidden="true">↗</span>
                </a>
                {# <nav class="c-menu"></nav> #}
            </header>

            <main>
                {% block content %}{% endblock %}
            </main>

            <footer
                class="c-footer"
                data-scroll
                data-scroll-repeat
                data-scroll-offset="0%,100%"
                data-scroll-css-progress
            >
                <div class="c-footer_marquee">
                    <div class="c-footer_marquee_inner">
                        <div class="c-footer_marquee_list">
                            {% for item in marquee %}
                                <div class="c-footer_marquee_item">
                                    {% include "@snippets/image.twig" with {
                                        src: item.img.src,
                                        width: item.img.width,
                                        height: item.img.height
                                    } only %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="c-container">
                    <div class="c-footer_inner">
                        {% include "@snippets/logo.twig" with {
                            classes: 'c-footer_logo'
                        } only %}
                    </div>
                </div>

                <div class="c-footer_copy">
                    {% for copyright in site.copyrights %}
                        <div class="c-footer_copy_item">
                            {{copyright}}
                        </div>
                    {% endfor %}
                </div>
            </footer>
        </div>

        <script src="{{ '/assets/scripts/app.js' | version }}" defer></script>
    </body>
</html>
