<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ site.title }}</title>
        <meta name="description" content="From analyzing the design to building a complete one-page website, you'll discover and learn how to use Locomotive’s approach and unique set of tools such as smooth-scrolling, micro-interactions and animations with a clean coding structure">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta property="og:image" content="{{ site.og_image }}">
        <link rel="icon" href="data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20100%20100%22%3E%3Ctext%20y=%22.9em%22%20font-size=%2290%22%3E🇭🇷%3C/text%3E%3C/svg%3E">

        <link id="main-css" rel="stylesheet" href="{{ '/assets/styles/main.css' | version }}" media="print" onload="this.media='all'; this.onload=null; this.isLoaded=true">

        <style>
            {{ critical_css() }}
        </style>
    </head>
    <body>
        <div class="c-preloader"></div>

        <div>
            <header>
                <h1>Hello Labin!</h1>
            </header>

            <main>
                {% block content %}{% endblock %}
            </main>
        </div>

        <script src="{{ '/assets/scripts/app.js' | version }}" defer></script>
    </body>
</html>
