{% layout 'base' %}

{% block %}
    {% render 'partials/hero', site: site %}

    {% capture about_head %}
        <h2>{{about.title}}</h2>
    {% endcapture %}
    {%
        render 'snippets/editorial',
        head: about_head,
        content: about.content,
        modifiers: '-about',
        classes: 'u-margin-large-bottom'
    %}

    {% render 'partials/fancy-gallery', gallery: gallery %}

    {% render 'partials/poster', poster: poster %}

    {% render 'partials/products', products: products %}

    {% render 'partials/splash-featured', splash-featured: splash-featured %}

    {% capture faq_head %}
        <h2>{{faq.title}}</h2>
        <p>{{faq.description}}</p>
    {% endcapture %}
    {% capture faq_content %}
        {% for faq_item in faq.items %}
            {% render 'snippets/accordion',
                title: faq_item.title,
                content: faq_item.content
            %}
        {% endfor %}
    {% endcapture %}
    {% render 'snippets/editorial', head: faq_head, content: faq_content, modifiers: '-faq', classes: 'u-margin-huge-bottom' %}

    {% capture manifesto_head %}
        <h2>{{manifesto.title}}</h2>
    {% endcapture %}
    {% capture manifesto_content %}
        <p>{{manifesto.description}}</p>
    {% endcapture %}
    {% render 'snippets/editorial', head: manifesto_head, content: manifesto_content, modifiers: '-manifesto', classes: 'u-margin-huge-bottom' %}
{% endblock %}
